*{
	color:white;
	text-shadow:rebeccapurple;
	margin: 0;
	padding: 0;
	font-family: Helvetica, arial;
}

p, li{
	color:white;
	font-size: 20px;
	font-family: arial, "Times new roman";
	text-shadow:1px 1px 1px #111111;
    text-align: justify;
}


li{
    padding: 10px 0 10px 0;
    width: 80%;
    margin: auto;
}    

img {
    width: 80%;
    height: auto;
  }

body{
	background-color:rebeccapurple;
}


header{
	background-color:lavender;
	height: 80px;
	padding:20px;
}


footer{
	color:lavender;
	clear: both;
	background-color:lavender;
	height: 50px;
	text-align: center;
	padding: 10px;
	font-size:12px;
	text-shadow:1px 1px 1px black;
}

h1{
	color:white;
	font-size: 50px;
	text-shadow:1px 1px 1px black;
	text-align: center;
	margin:0 0 50px 0;
}

h2{
	color:lavender;
    font-size: 34px;
	text-shadow:1px 1px 1px #111111;
	text-align: center;
	margin:0 0 50px 0;
}

h3{
	color:white;
    font-size: 25px;
	text-shadow:1px 1px 1px #111111;
	text-align: center;
	margin:50px 0 20px 0;
}

#principal{
/*	background-image: url('../images/milky-way-2971669_1920.jpg');*/
	clear:both;
	background-size:100%;
	min-height: 400px;
	padding:80px 0 0 0;
}


#logo{
	float:left;
}

#menu{
	margin-top:30px;
	float:right;
}

#menu a{
	padding:52px 20px;
	text-decoration: none;
	color:rebeccapurple;
	text-shadow: 1px 1px #111111;
}

#menu a:hover{
	background-color:rebeccapurple;
	color:#111;
}


.container{
	width: 960px;
	margin: 0 auto;
	color:black;
}

.video-centro p{
    text-align: center;
}

.video-centro iframe{
    width: 560px; 
    height: 315px;    
}

.efeito{
	background-color:rgba(0, 0, 0, 0.5);
	padding: 80px 0 80px 0;
}

.ingredientes li:nth-child(odd){
    background:rebeccapurple;
	margin: auto;
    }

.fotosBolo{
    text-align: center; 
}

.fotosBolo p{
    text-align: center; 
}



